body {
    padding: 2% 5% 0 5%;
    margin: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.search-inventory p {
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8C8C8C;
}

button {
    width: 90px;
    height: 40px;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #444651;
    color: #ffffff;
    font-family: TT Norms;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 20px;
}

button:hover, button:focus {
    background: #9698a5;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.search-inventory input[type=search] {
    width: 210px;
    height: 30px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 12px;
}

/* cle  ars the 'X' in input form from Internet Explorer */

input[type=search]::-ms-clear, input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' in input form from Chrome */

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.block-inventory {
    display: flex;
    margin-bottom: 40px;
    margin-top: 30px;
}

.image-inventory {
    display: flex;
    margin-bottom: 30px;
}

.image-inventory img {
    width: 15%;
    height: 50%;
    margin-top: 5px;
}

.image-inventory h3 {
    font-family: TT Norms;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
}

.image-inventory div {
    width: 225px;
    height: 80px;
    margin-left: 25px;
}

form[name=generateReport] p {
    margin-bottom: 6px;
    margin-top: 0;
}

form[name=generateReport] select {
    width: 220px;
    height: 30px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    padding-left: 12px;
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

form[name=generateReport] button {
    width: 180px;
    height: 40px;
    background: #4990E2;
    border-radius: 3px;
    margin-left: 0;
    margin-top: 34px;
    margin-bottom: 0;
}

form[name=generateReport] button:hover, button:focus {
    background: #87b4e8;
}

form[name=generateReport] input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    padding: 4px;
    border: 2px solid #C1C1C1;
    transition: 0.2s all linear;
    outline: none;
    margin-left: 0;
}

form[name=generateReport] label {
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    margin-top: 5px;
}

form[name=generateReport] input[type="radio"]:checked {
    background: #4990E2;
    box-shadow: inset 0 0 0 3px white;
}

.description-inventory {
    width: 550px;
    height: 330px;
    background: #F7F7F7;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0em;
    padding-top: 20px;
}

.description-inventory div {
    width: 526.33px;
    height: 290px;
    padding-left: 18.33px;
}

.description-inventory ul {
    padding-left: 0;
    margin: 0;
}

.description-inventory li {
    font-family: TT Norms;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #8C8C8C;
    list-style-type: none;
}

.description-inventory span {
    color: black;
}

.description-inventory a {
    text-decoration: none;
    color: #6c6cff;
}

.report-table {
    margin: 0 4% 0 4%;
    border-spacing: 0px;
}

table.report-table caption {
    font-family: TT Norms;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #000000;
    margin-top: 40px;
    width: 131px;
    margin-bottom:23px;
}

table.report-table th {
    text-align: left;
    vertical-align: top;
    font-family: TT Norms;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #939DA6;
}

.report {
    margin: auto;
    border: 1px dashed #939DA6;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 90%;
    margin-bottom: 100px;
}

.column-date {
    width: 11%;
}

.column-buffer-solutions {
    width: 27%;
}

.column-slope {
    width: 10%;
}

.column-offset {
    width: 11%;
}

.column-user {
    width: 24%;
}

.table-date {
    font-family: TT Norms;
    font-size: 16px;
    color: #353535;
}
table.report-table td{
    vertical-align: top;
    padding: 3px;
}

table.report-table :not(:last-child) td {
    border-bottom: 1px solid #E9E9E9;
}

table.report-table p {
    line-height: 18px;
    margin: 0;
    letter-spacing: 0.16px;
    font-family: TT Norms;
    font-size: 13px;
    line-height: 15px;
    color: #353535;
}

.table-offset {
    margin-left: 25%;
    vertical-align: middle
}

.table-user {
    font-family: TT Norms;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

table.report-table td{
padding-bottom: 20px;
padding-top: 10px;
}


@media screen (max-width: 769px) {
    .block-inventory {
        display: block;
    }

    .description-inventory{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 79%;
    }
    .description-inventory div{
        width: 96%;
        overflow:auto;
    }

    .image-inventory img {
        width: 8%;
    }
    
}
